doctype html
html
  head
    title Peer Call
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="apple-touch-icon" href="../res/icon.png")
    link(rel="icon" sizes="256x256" href="../res/icon.png")
    link(rel="stylesheet" type="text/css" href="../static/style.css")

  body.call
    input#callId(type="hidden" value=callId)
    input#iceServers(type="hidden" value=JSON.stringify(iceServers))

    div#container

    script(src='../static/index.js')
