doctype html
html
  head
    title Peer Calls - Video calls to anybody in the world with a private direct connection
    meta(charset="utf-8")
    meta(name="description" content="Make video calls to anybody in the world with a private connection. Share the conversation by sharing url.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="apple-touch-icon" href="res/icon.png")
    link(rel="icon" sizes="256x256" href="res/icon.png")
    link(rel="stylesheet" type="text/css" href="static/style.css")

  body
    include ./_fork.pug

    #container

      form#form(method="get" action="call")
        h1
          img(src="res/peer-calls.svg" width="100%" alt="Peer Calls")
        p Group peer-to-peer calls for everyone. Create a private room. Share the link.
        input(type="submit" value="New Session")

    footer
      div v#{version}
